button{
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 32, 32);
    height: 100%;
    border: none;
    border-radius: 50px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer; 
    height: 100px;
}
#Keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#Calculator{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(92, 90, 90);
    border: none;
    border-radius: 25px;
    overflow: hidden;
}
#display{
    width: 100%;
    height: 75px;
    color: #ffffff;
    background-color: rgb(25, 24, 24);
    text-align:center;
    padding: auto;
    border: none;
    font-size: 3rem;   
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

button:hover{
    background-color:rgb(102, 101, 101);
}
button:active{
    background-color: antiquewhite;
}
.operator{
    background-color: rgb(255, 170, 0);
}
.operator:hover{
    background-color:rgb(255, 187, 52);
}
.operator:active{
    background-color: rgb(255, 200, 91);
}